<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/style.css">
    <title>Number Verification</title>
</head>
<body>
    <div class="container">
        <div class="bg-image">
            <div class="welcome center">

                {{ if .IsAuth }}

                <div class="welcome center">
                    Привет, {{.FirstName}}<br>

                    <div class="submited" id="submited">
                        <p>Спасибо за участие!</p>
                        <p>Твой номер: {{ .Phone }}</p>
                        <p>International: {{ .International }}</p>
                        <p>Верификация: {{ .Verification }}</p>
                        <p>Страна: {{ .Country }}</p>
                    </div>
                </div>

                {{ else }}
                <p class="welcome-text">Привет, {{ .FirstName }}! Хочешь узнать валидный ли у тебя номер?</p>
                
                <div class="form-intro">
                    <form action="/" method="post" id="form">
                        <div сlass="form-item">
                            <label for="name">Твое имя:</label>
                            <input type="text" id="fname" name="fname" placeholder="Имя" required>
                        </div>
                        <div сlass="form-item">
                            <label for="phone">Твой номер:</label>
                            <input type="text" class="phone {{ if .WrongNumber }}wrong{{ end }}" id="phone" name="phone" placeholder="+7 (000) 000 00 00" required>
                        </div>
                        <input type="submit" class="form-btn" form="form">
                        {{ if .WrongNumber }}  
                                <div class="WrongMessage">
                                    <p> {{ .WrongMessage }} </p>
                                </div>
                        {{end}}
                    </form>
                </div>

                {{end}}
            </div>  
        </div>
    </div>

    <script>
    $("#form").submit(function(event) {
        event.preventDefault();
        let formData = new FormData();
    
        $.each($(this).serializeArray(), function (key, input) {
            formData.append(input.name, input.value);
        });
        axios.post("/", formData).then(() => /* do something*/);
    })
    
</script>
</body>
</html>