<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/style.css">
    <title>Number Validator</title>
</head>
<body>
    <div class="welcome center">
        Привет, {{.FirstName}} {{.SecondName}} <br>

        <div class="submited" id="submited">
            <p>Спасибо за участие!</p>
            <p>Ваш статус: участник</p>
        </div>
    </div>

    <div class="user-list">
        {{ .Users }}
    </div>

</body>
</html>